body {
	background-color: #b2d2f4;
	/*margin: 5%;*/
	padding: 5%;
/*	margin: 0;
	padding: 0;*/
	height: 100vh;
}

div {
	display: block;
}

.button {
	height: 100vh;
	width: 30px;
	background-color: #659bf2;
	position: fixed;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

/*.container {
	margin: 5vw;
	box-sizing: border-box;
	position: absolute;
  	overflow-x: auto;
  	white-space: nowrap;
  	height: 100vh;
  	width: 90vw;
}*/

.titleFull {
	margin-top: 50vh;
	margin-bottom: 50vh;
	position: relative;
	bottom: 0;
	height: 50vh;
	float: left;
}

.titleBox1 {
	box-sizing: border-box;
	position: relative;
  	width: 58vw;
  	top: 0;
  	float: left;
}

.titleBox2 {
	box-sizing: border-box;
	position: relative;
  	width: 90vw;
  	float: left;
}

.letterTitle {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	margin-top: 4%;
	margin-left: 1%;
	height: 15vw;
	width: 15vw;
	float: left;
}

.letter {
	display: inline-block;
	position: relative;
	box-sizing: content-box;
	margin-top: 2%;
	margin-left: -1.5%;
	height: 11vw;
	width: 11vw;
	float: left;
}



.vbar {
	position: absolute; /**can overlap**/
	/*box-sizing: content-box;*/
	box-sizing: border-box;
	background: black;
	width: 10%;
	height: 10%;
	top:0%;
	left:0%;
	background-color: #fffde8;
	/*padding: 5%;*/
	/*margin: 20%;*/

}

.hbar {
	position: absolute; /**can overlap**/
	background: black;
	/*box-sizing: content-box;*/
	box-sizing: border-box;;
	width: 10%;
	height: 10%;
	top:0%;
	left:0%;
	background-color: #fffde8;
	/*padding: 5%;*/
	/*margin: 20%;*/
}

.length10 {height: 100%;}

.length8 {height: 80%;}

.length7 {height: 70%;}

.length6 {height: 60%;}

.length5 {height: 50%;}

.length4 {height: 40%;}

.length3 {height: 30%;}

.length2 {height: 20%;}

.length1 {height: 10%;}


.width8 {width: 80%;}

.width7 {width: 70%;}

.width6 {width: 60%;}

.width5 {width: 50%;}

.width4 {width: 40%;}

.width3 {width: 30%;}

.width2 {width: 20%;}

.width1 {width: 10%;}



/******* A ******/

#a1 {
	top: 50%;
	left: 10%;
}

#a2 {
	top: 50%;
	left: 70%;
}

#a3 {
	top: 20%;
	left: 20%;
}

#a4 {
	top: 20%;
	left: 60%;
}

#a5 {
	top: 0%;
	left: 40%;
}

#a6 {
	top: 50%;
	left: 30%;
}

/******* B ******/
#b1 {
	top: 0%;
	left: 10%;
}

#b2 {
	top: 10%;
	left: 68%;
}

#b3 {
	top: 50%;
	left: 70%;
}

#b4 {
	top: 0%;
	left: 30%;
}

#b5 {
	top: 40%;
	left: 36%;
}

#b6 {
	top: 90%;
	left: 30%;
}

/******* C ******/
#c1 {
	top: 20%;
	left: 10%;
}

#c2 {
	top: 0%;
	left: 30%;
}

#c3 {
	top: 90%;
	left: 30%;
}


/******* D ******/
#d1 {
	top: 0%;
	left: 10%;
}

#d2 {
	top: 20%;
	left: 70%;
}

#d3 {
	top: 0%;
	left: 32%;
}

#d4 {
	top: 90%;
	left: 32%;
}

/******* E ******/
#e1 {
	top: 0%;
	left: 18%;
}

#e2 {
	top: 0%;
	left: 44%;
}

#e3 {
	top: 40%;
	left: 44%;
}

#e4 {
	top: 90%;
	left: 44%;
}

/******* F ******/
#f1 {
	top: 0%;
	left: 18%;
}

#f2 {
	top: 0%;
	left: 44%;
}

#f3 {
	top: 40%;
	left: 44%;
}

/******* G ******/
#g1 {
	top: 20%;
	left: 10%;
}

#g2 {
	top: 0%;
	left: 30%;
}

#g3 {
	top: 90%;
	left: 30%;
}

#g4 {
	top: 45%;
	left: 54%;
}

#g5 {
	top: 55%;
	left: 74%;
}

/******* H ******/
#h1 {
	top: 0%;
	left: 14%;
}

#h2 {
	top: 0%;
	left: 74%;
}

#h3 {
	top: 40%;
	left: 34%;
}

/******* I ******/
#i1 {
	top: 20%;
	left: 46%;
}

#i2 {
	top: 0%;
	left: 36%;
}

#i3 {
	top: 90%;
	left: 36%;
}

/******* J ******/
#j1 {
	top: 20%;
	left: 60%;
}

#j2 {
	top: 0%;
	left: 40%;
}

#j3 {
	top: 90%;
	left: 30%;
}
#j4 {
	top: 70%;
	left: 20%;
}

/******* K ******/
#k1 {
	top: 0%;
	left: 10%;
}

#k2 {
	top: 30%;
	left: 38%;
}

#k3 {
	top: 0%;
	left: 66%;
}

#k4 {
	top: 60%;
	left: 66%;
}

/******* L ******/
#l1 {
	top: 0%;
	left: 18%;
}

#l2 {
	top: 90%;
	left: 44%;
}

/******* M ******/
#m1 {
	top: 0%;
	left: 10%;
}

#m2 {
	top: 15%;
	left: 45%;
}


#m3 {
	top: 0%;
	left: 80%;
}

/******* N ******/
#n1 {
	top: 0%;
	left: 10%;
}

#n2 {
	top: 15%;
	left: 35%;
}

#n3 {
	top: 55%;
	left:50%;
}

#n4 {
	top: 0%;
	left: 75%;
}

/******* O ******/
#o1 {
	top: 20%;
	left: 10%;
}

#o2 {
	top: 0%;
	left: 30%;
}

#o3 {
	top: 90%;
	left: 30%;
}

#o4 {
	top: 20%;
	left: 80%;
}

/******* P ******/
#p1 {
	top: 0%;
	left: 14%;
}

#p2 {
	top: 20%;
	left: 68%;
}


#p3 {
	top: 0%;
	left: 34%;
}

#p4 {
	top: 50%;
	left: 34%;
}

/******* Q ******/
#q1 {
	top: 20%;
	left: 10%;
}

#q2 {
	top: 0%;
	left: 30%;
}

#q3 {
	top: 90%;
	left: 30%;
}

#q4 {
	top: 20%;
	left: 80%;
}

#q5 {
	top: 100%;
	left: 60%;
}

/******* R ******/
#r1 {
	top: 0%;
	left: 14%;
}

#r2 {
	top: 15%;
	left: 66%;
}

#r3 {
	top: 60%;
	left: 68%;
}

#r4 {
	top: 0%;
	left: 34%;
}

#r5 {
	top: 45%;
	left: 39%;
}

/******* S ******/
#s1 {
	top: 0%;
	left: 40%;
}

#s2 {
	top: 10%;
	left: 20%;
}

#s3 {
	top: 40%;
	left: 48%;
}

#s4 {
	top: 60%;
	left: 70%;
}

#s5 {
	top: 90%;
	left: 30%;
}

/******* T ******/
#t1 {
	top: 0%;
	left: 40%;
}

#t2 {
	top: 0%;
	left: 10%;
}

#t3 {
	top: 0%;
	left: 60%;
}

/******* U ******/
#u1 {
	top: 0%;
	left: 10%;
}

#u2 {
	top:0%;
	left: 70%;
}

#u3 {
	top: 90%;
	left: 30%;
}

/******* V ******/
#v1 {
	top: 0%;
	left: 10%;
}

#v2 {
	top: 0%;
	left: 70%;
}

#v3 {
	top: 60%;
	left: 20%;
}

#v4 {
	top: 60%;
	left: 60%;
}

#v5 {
	top: 90%;
	left: 40%;
}

/******* W ******/
#w1 {
	top: 0%;
	left: 10%;
}

#w2 {
	top: 55%;
	left: 45%;
}


#w3 {
	top: 0%;
	left: 80%;
}

/******* X ******/
#x1 {
	top: 0%;
	left: 12%;
}

#x2 {
	top: 0%;
	left: 70%;
}

#x3 {
	top: 40%;
	left: 41%;
}

#x4 {
	top: 60%;
	left: 70%;
}

#x5 {
	top: 60%;
	left: 12%;
}

/******* Y ******/
#y1 {
	top: 0%;
	left: 14%;
}

#y2 {
	top: 0%;
	left: 70%;
}

#y3 {
	top: 50%;
	left: 42%;
}

/******* Z ******/
#z1 {
	top: 0%;
	left: 20%;
}

#z2 {
	top: 30%;
	left: 50%;
}

#z3 {
	top: 60%;
	left: 30%;
}

#z4 {
	top: 90%;
	left: 20%;
}

/******* zero ******/
#zero1 {
	top: 20%;
	left: 10%;
}

#zero2 {
	top: 0%;
	left: 30%;
}

#zero3 {
	top: 90%;
	left: 30%;
}

#zero4 {
	top: 20%;
	left: 80%;
}

#zero5 {
	top: 30%;
	left: 50%;
}

#zero6 {
	top: 60%;
	left: 30%;
}

/******* one ******/
#one1 {
	top: 0%;
	left: 48%;
}

#one2 {
	top: 10%;
	left: 28%;
}

#one3 {
	top: 90%;
	left: 28%;
}

/******* two ******/
#two1 {
	top: 0%;
	left: 20%;
}

#two2 {
	top: 15%;
	left: 70%;
}

#two3 {
	top: 60%;
	left: 32%;
}

#two4 {
	top: 90%;
	left: 20%;
}

/******* three ******/
#three1 {
	top: 10%;
	left: 65%;
}

#three2 {
	top: 50%;
	left: 65%;
}

#three3 {
	top: 0%;
	left: 20%;
}

#three4 {
	top: 40%;
	left: 30%;
}

#three5 {
	top: 90%;
	left: 20%;
}

/******* four ******/
#four1 {
	top: 0%;
	left: 20%;
}

#four2 {
	top: 0%;
	left: 70%;
}

#four3 {
	top: 40%;
	left: 20%;
}

/******* five ******/
#five1 {
	top: 0%;
	left: 20%;
}

#five2 {
	top: 56%;
	left: 70%;
}

#five3 {
	top: 0%;
	left: 42%;
}

#five4 {
	top: 40%;
	left: 42%;
}

#five5 {
	top: 90%;
	left: 26%;
}

/******* six ******/
#six1 {
	top: 10%;
	left: 16%;
}

#six2 {
	top: 55%;
	left: 70%;
}

#six3 {
	top: 0%;
	left: 40%;
}

#six4 {
	top: 40%;
	left: 40%;
}

#six5 {
	top: 90%;
	left: 30%;
}

/******* seven ******/
#seven1 {
	top: 0%;
	left: 20%;
}

#seven2 {
	top: 25%;
	left: 50%;
}

#seven3) {
	top: 55%;
	left: 30%;
}

#seven4 {
	top: 80%;
	left: 20%;
}

/******* eight ******/
#eight1 {
	top: 10%;
	left: 66%;
}

#eight2 {
	top: 10%;
	left: 10%;
}

#eight3 {
	top: 60%;
	left: 66%;
}

#eight4 {
	top: 60%;
	left: 10%;
}

#eight5 {
	top: 0%;
	left: 32%;
}

#eight6 {
	top: 45%;
	left: 38%;
}

#eight7 {
	top: 90%;
	left: 32%;
}

/******* nine ******/
#nine1 {
	top: 15%;
	left: 20%;
}

#nine2 {
	top: 20%;
	left: 74%;
}

#nine3 {
	top: 0%;
	left: 40%;
}

#nine4 {
	top: 50%;
	left: 40%;
}

#nine5 {
	top: 90%;
	left: 30%;
}

/************ TITLE *********/

#m1Title1 {
	top: 0%;
	left: 10%;
}

#m2Title1 {
	top: 15%;
	left: 45%;
}


#m3Title1 {
	top: 0%;
	left: 80%;
}

#e1Title {
	top: 0%;
	left: 18%;
}

#e2Title {
	top: 0%;
	left: 44%;
}

#e3Title {
	top: 40%;
	left: 44%;
}

#e4Title {
	top: 90%;
	left: 44%;
}

#t1Title {
	top: 0%;
	left: 40%;
}

#t2Title {
	top: 0%;
	left: 10%;
}

#t3Title {
	top: 0%;
	left: 60%;
}

#a1Title {
	top: 50%;
	left: 10%;
}

#a2Title {
	top: 50%;
	left: 70%;
}

#a3Title {
	top: 20%;
	left: 20%;
}

#a4Title {
	top: 20%;
	left: 60%;
}

#a5Title {
	top: 0%;
	left: 40%;
}

#a6Title {
	top: 50%;
	left: 30%;
}

#m1Title2 {
	top: 0%;
	left: 10%;
}

#m2Title2 {
	top: 15%;
	left: 45%;
}


#m3Title2 {
	top: 0%;
	left: 80%;
}

#o1Title {
	top: 20%;
	left: 10%;
}

#o2Title {
	top: 0%;
	left: 30%;
}

#o3Title {
	top: 90%;
	left: 30%;
}

#o4Title {
	top: 20%;
	left: 80%;
}

#r1Title {
	top: 0%;
	left: 14%;
}

#r2Title {
	top: 15%;
	left: 66%;
}

#r3Title {
	top: 60%;
	left: 68%;
}

#r4Title {
	top: 0%;
	left: 34%;
}

#r5Title {
	top: 45%;
	left: 39%;
}

#p1Title {
	top: 0%;
	left: 14%;
}

#p2Title {
	top: 20%;
	left: 68%;
}


#p3Title {
	top: 0%;
	left: 34%;
}

#p4Title {
	top: 50%;
	left: 34%;
}

#h1Title {
	top: 0%;
	left: 14%;
}

#h2Title {
	top: 0%;
	left: 74%;
}

#h3Title {
	top: 40%;
	left: 34%;
}

#mTitle1 {
	margin-left: 0%;
}

#eTitle {
	margin-left: 0%;
}

#tTitle {
	margin-left: -2%;
}

#aTitle {
	margin-left: -2%;
}

#mTitle2 {
	margin-left: 0%;
}

#oTitle {
	margin-left: 1.5%;
}

#rTitle {
	margin-left: 0%;
}

#pTitle {
	margin-left: 0%;
}

#hTitle {
	margin-left: -1%;
}

/******** effects ********/
/*
.nightskyBody {
	background-color: #141835;
}

.barsToStars  {
	background-color: #1e365e;
	width: 10% !important;
	height: 10% !important;
	transform: rotate(45deg);
	background-color: white;
}*/

/*.twinkle {
	transform: rotate(180deg) !important;
	transform: scale(0.5) !important;
}*/
